body {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
  background-color: yellow;
}

header {
  display: flex;

  width: 100%;
  justify-content: space-between;
  height: 64px;
  align-items: center;
  background-color: red;
  color: white;
}

.topright {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-left: 24px;
  height: 48px;
  align-items: left;
}

nav {
  display: flex;
  width: 50%;
  justify-content: space-between;
  font-size: 1.3rem;
  height: 48px;
  align-items: right;
}

main {
  margin-top: 24px;
}

table, th, td {
  font-size: 1.5rem;
  border: 1px solid black;
}
